@model Note.Model.User

<form class="form-horizontal" method="post" asp-controller="Account" asp-action="Register">
    <h1 class="text-center text-primary">회원가입</h1>
    <div class="form-group">
        <label>사용자 ID</label>
        <input type="text" class="form-control" asp-for="UserId" placeholder="사용자 아이디를 입력하세요" />
        <span class="text-danger" asp-validation-for="UserId"></span>
    </div>
    <div class="form-group">
        <label>비밀번호</label>
        <input type="password" class="form-control" asp-for="Password" placeholder="비밀번호를 입력하세요" />
        <span class="text-danger" asp-validation-for="Password"></span>
    </div>
    <div class="form-group">
        <label>비밀번호 확인</label>
        <input type="password" class="form-control" asp-for="Password" placeholder="비밀번호를 입력하세요" />
        <span class="text-danger" asp-validation-for="Password"></span>
    </div>
    <div class="form-group">
        <label>이름</label>
        <input type="text" class="form-control" asp-for="Name" placeholder="사용자 이름을 입력하세요" />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label>나이</label>
        <input type="text" class="form-control" asp-for="Age" placeholder="사용자 나이를 입력하세요"/>
        <span class="text-danger" asp-validation-for="Age"></span>
    </div>
    <div class="form-group">
        <label>이메일</label>
        <input type="email" class="form-control" asp-for="Email" placeholder="이메일을 입력하세요" />
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>
    <div class="form-inline">
        <div>
            <button type="submit" class="btn btn-primary">회원가입</button>
            <button type="button" class="btn btn-danger" asp-controller="Home" asp-action="Index">취소</button>    
        </div>
        
    </div>
</form>