<div class="row">
    <div class="col-md-12">
        <h3 class="page-header">@Model.Title</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        <div class="panel panel-default">
            <div class="panel panel-heading">
               작성자 : @Model.Writer
            </div>
            <div class="panel panel-body">
                @Html.Raw(Model.Content)
            </div>
            <div class="panel panel-footer">
                <a class="btn btn-primary" asp-controller="Notice" asp-action="Index">목록</a>
            </div>
        </div>
    </div>
</div>